
.movie-title-modal {
    font-size: 40px;
    font-weight: bold;
}

.overlay {
    text-align: center;
  }

.no-overview{
    color: red;
}

.genre {
    display: inline;
}

.genre-movie {
    display: inline;
    font-weight: bold;
}

.movie-overview-detail {
    font-weight: bold;
    text-align: center;
}

.movie-overview {
    display: flex;  
    margin: auto;
    width: 70%;
    margin-top: 30px;
}