table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid aqua;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: aqua;
  }
  tr:nth-child(odd) {
    background-color: aqua;
  }


.genre-table {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.back {
    font-size: 20px;
}